#root {
    margin: 20px;
}

.changes_block {
    display: flex;
}

.changes_block input:nth-child(1) {
    margin-left: 0px;
}

.changes_block input {
    margin-left: 20px;
}

.changes_block button {
    margin-left: 20px;
}