#root {
    margin: 20px;
}

.changes_block {
    display: flex;
    justify-content: center;
}

.changes_block input {
    border: 3px solid #000000;
}

.changes_block #date {
    margin-left: 20px;
}

.changes_block button {
    margin-left: 20px;
}